<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="your mom"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieNet"
        tools:targetApi="31">

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
                android:name=".LoginViewModel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterViewModel"
            android:exported="true">
        </activity>
            <activity
                android:name=".MainActivity"
                android:exported="true">
            </activity>
        <activity
            android:name=".ExploreViewModel"
            android:exported="true">
        </activity>
        <activity
            android:name=".MyListViewModel"
            android:exported="true">
        </activity>
        <activity
            android:name=".RatingViewModel"
            android:exported="true">
        </activity>
        <activity
            android:name=".ItemViewModel"
            android:exported="true">
        </activity>
        <activity
            android:name=".RatingFromReviewViewModel"
            android:exported="true">
        </activity>
        <activity android:name=".MenuViewModel"
            android:exported="true">
        </activity>
        <activity android:name=".SettingsViewModel"
            android:exported="true">
        </activity>
        <activity android:name=".LanguageViewModel"
            android:exported="true">
        </activity>
        <activity android:name=".ProfileFragment"
            android:exported="true">

        </activity>

<!--        <meta-data-->
<!--            android:name="preloaded_fonts"-->
<!--            android:resource="@array/preloaded_fonts" />-->
    </application>
</manifest>